<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''" >

    <sidebar></sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{vm.content}}</h1>
                    <p>Nov in Sao Paulo, ENCE won the championship for Rainbow 6 proleague.</p>
                   <table cellpadding="5" style="background-color: #D8D8D8";>
                       <thead>
                           <tr>
                            <th align="left">Quarter-Finals</th><th align="left"></th>
                            <th align="left">Semi-Finals</th>
                            <th align="left"></th>
                            <th align="left">Grand Final</th>
                            <th align="left"></th>
                            <th align="left">Champion</th>
                            </tr>
                       </thead>
                       <tbody>
                    <tr style="background-color: #B6CDE5;">
                    <td align="left"><a title="Eins" href="/y2s3/Eins"><img src="/images/Eins.jpg" alt="Eins" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left">vs</td>
                    <td align="left">--</td>
                    <td align="left"><a title="fontt" href="/y2s3/Fontt"><img src="/images/Fontt.png" alt="Fontt" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr style="background-color: #B6CDE5;">
                    <td align="left"> <a title="fontt" href="/y2s3/Fontt"><img src="/images/Fontt.png" alt="Fontt" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left">vs</td>
                    <td align="left">--</td>
                    <td align="left"><a  title="ENCE" href="/y2s3/ENCE"><img src="/images/ENCE.jpg" alt="ENCE" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr style="background-color: #B6CDE5;">
                    <td align="left"><a title="eg" href="/y2s3/EG"><img src="/images/EG3.jpg" alt="Evil Geniuses" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left">vs</td>
                    <td align="left">--</td>
                    <td align="left"><a  title="ENCE" href="/y2s3/ENCE"><img src="/images/ENCE.jpg" alt="ENCE" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr style="background-color: #B6CDE5;">
                    <td align="left"><a  title="ENCE" href="/y2s3/ENCE"><img src="/images/ENCE.jpg" alt="ENCE" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left">vs</td>
                    <td align="left">--</td>
                   <td align="left"><a  title="ENCE" href="/y2s3/ENCE"><img src="/images/ENCE.jpg" alt="ENCE" style="width:50px;height:50px;"></a></td>
                    </tr>
                    <tr style="background-color: #B6CDE5;">
                    <td align="left"><a title="Penta" href="/y2s3/PENTA"><img src="/images/Penta.jpg" alt="Penta" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left">vs</td>
                    <td align="left">--</td>
                    <td align="left"><a title="Penta" href="/y2s3/PENTA"><img src="/images/Penta.jpg" alt="Penta" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr style="background-color: #B6CDE5;">
                    <td align="left"><a title="mantis" href="/y2s3/Mantis"><img src="/images/MantisFps.jpg" alt="Mantis Fps" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left">vs</td>
                    <td align="left">--</td>
                    <td align="left"><a title="Black Dragons" href="/y2s3/BD"><img src="/images/BD.jpg" alt="Black Dragons" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr style="background-color: #B6CDE5;">
                     <td align="left"><a title="Black Dragons" href="/y2s3/BD"><img src="/images/BD.jpg" alt="Black Dragons" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left">vs</td>
                    <td align="left">--</td>
                     <td align="left"><a title="Black Dragons" href="/y2s3/BD"><img src="/images/BD.jpg" alt="Black Dragons" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr style="background-color: #B6CDE5;">
                    <td align="left"><a title="1NF" href="/y2s3/1NF"><a href="/y2s3/1NF"><img src="/images/inf.jpg" alt="1nfamy" style="width:50px;height:50px;"></a></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    </tbody>
                   </table>
                        
                        
                        
                        <br>
                    <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle">Toggle Menu</button>
                </div>
            </div>
            <br>
            <footer-generic></footer-generic>
        </div>
        
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

