<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''">

    <sidebar></sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{vm.content}}</h1>
                    <p>ENCE ESports, the champions of the Rainbow 6: Siege proleague in Sao Paulo and here are there stats.</p>
                        
                        <!--<p class="bg-info" ng-bind="vm.selectedTeam.team"></p>
                        <player-info info="vm.teamdata[0]"></player-info>-->
                        
                        <div class="row">
                            <div class="col-xs-12">
                              <p class="bg-info">
                                <p class="bg-info"><strong>Team Data</strong>:<a href = "/players/Canadian"> {{vm.teamData[0].team}}</p></a>
                                <p class="bg-info"><strong>Player Name</strong>: {{vm.teamData[0].player}}</p>
                                <p class="bg-info"><strong>Kills</strong>: {{vm.teamData[0].kills}}</p>
                                <p class="bg-info"><strong>Deaths</strong>: {{vm.teamData[0].deaths}}</p>
                                <p class="bg-info"><strong>Rounds Played</strong>: {{vm.teamData[0].rounds}}</p>
                                
                              </p>        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                              <p class="bg-info">
                                <p class="bg-info"><strong>Player Name</strong>: {{vm.teamData[1].player}}</p>
                                <p class="bg-info"><strong>Kills</strong>: {{vm.teamData[1].kills}}</p>
                                <p class="bg-info"><strong>Deaths</strong>: {{vm.teamData[1].deaths}}</p>
                                <p class="bg-info"><strong>Rounds Played</strong>: {{vm.teamData[1].rounds}}</p>
                                
                              </p>        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                              <p class="bg-info">
                                <p class="bg-info"><strong>Player Name</strong>: {{vm.teamData[2].player}}</p>
                                <p class="bg-info"><strong>Kills</strong>: {{vm.teamData[2].kills}}</p>
                                <p class="bg-info"><strong>Deaths</strong>: {{vm.teamData[2].deaths}}</p>
                                <p class="bg-info"><strong>Rounds Played</strong>: {{vm.teamData[2].rounds}}</p>
                                
                              </p>        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                              <p class="bg-info">
                                <p class="bg-info"><strong>Player Name</strong>: {{vm.teamData[3].player}}</p>
                                <p class="bg-info"><strong>Kills</strong>: {{vm.teamData[3].kills}}</p>
                                <p class="bg-info"><strong>Deaths</strong>: {{vm.teamData[3].deaths}}</p>
                                <p class="bg-info"><strong>Rounds Played</strong>: {{vm.teamData[3].rounds}}</p>
                                
                              </p>        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                              <p class="bg-info">
                                <p class="bg-info"><strong>Player Name</strong>: {{vm.teamData[4].player}}</p>
                                <p class="bg-info"><strong>Kills</strong>: {{vm.teamData[4].kills}}</p>
                                <p class="bg-info"><strong>Deaths</strong>: {{vm.teamData[4].deaths}}</p>
                                <p class="bg-info"><strong>Rounds Played</strong>: {{vm.teamData[4].rounds}}</p>
                                
                              </p>        
                            </div>
                        </div>
        
                        <br>
                    <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle">Toggle Menu</button>
                </div>
            </div>
            <br>
            <footer-generic></footer-generic>
        </div>
        
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

